/**
 * Project: api.cityinfo.kz
 * File Created: 02.01.2018 14:22:48
 * Author: Sadoyan Roman (ra@sadoyan.ru)
 */


root = true

[*.{js,json}]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true